.blok1{
    background-image: url(../../assets/gallery_img1.png);
    width: 1150px;
    height: 536px;
    font-family: Arimo;
    position: relative;
    margin-bottom: 30px;
}
.blok2{
    background-image: url(../../assets/gallery_img2.png);
    width: 1150px;
    height: 536px;
    font-family: Arimo;
    position: relative;
    margin-bottom: 30px;
}
.blok3{
    background-image: url(../../assets/gallery_img3.png);
    width: 1150px;
    height: 536px;
    font-family: Arimo;
    position: relative;
    margin-bottom: 30px;
}
.blok4{
    background-image: url(../../assets/gallery_img4.png);
    width: 1150px;
    height: 536px;
    font-family: Arimo;
    position: relative;
    margin-bottom: 30px;
}


.tegBlok{
    display: flex;
    position: absolute;
    top: 40px;
    left: 40px;
}
.blok_h2{
    font-weight: 400;
    font-size: 45px;
    line-height: 94%;
    letter-spacing: -0.004em;
    color: #FFFFF4;
    position: absolute;
    left: 40px;
    bottom: 40px;
    margin: 0%;

}
.teg{
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 94%;
    letter-spacing: -0.004em;
    padding: 15px 20px;
    background-color: #FFF59D;
    border-radius: 100px;

    margin: 0%;
}